body{
    margin: 0;
    font-family: 'Poppins', sans-serif;


}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

h2{
    color: red;
    text-align: center;
    font-size: small;
    background-color: bisque;
    border-radius: 5px;
   
}   
.name-highlight{
    color: rgb(248, 6, 131);
    font-weight: 1px solid;
    text-align: center;

}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    }

    .half-width img{
        width: 100%;
    }
    .top-banner{
        border: red;
        background-image: url("images/top-banner.png");
    }
    section{
        height: 500px;
        background-repeat: no-repeat;
    }
    .img{
        border-image: 1 solid;
    }
    .web-developement{

    }